安装一些需要用到的的库

In [1]:
# %pip install xgboost
# %pip install lightgbm
# %pip install category-encoders
# %pip install mlxtend

导入需要的库

In [1]:
import numpy as np
import pandas as pd

##### 读入数据

In [22]:
df_train = pd.read_csv('input/Train_rev1.csv', header=0, sep=',', quotechar='"')

In [4]:
df_train

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...
244763,72705211,TEACHER OF SCIENCE,Position: Qualified Teacher Subject/Specialism...,Swindon,Swindon,NaN,contract,NaN,Teaching Jobs,450 - 500 per week,22800,hays.co.uk
244764,72705212,TEACHER OF BUSINESS STUDIES AND ICT,Position: Qualified Teacher or NQT Subject/Spe...,Swindon,Swindon,NaN,contract,NaN,Teaching Jobs,450 - 500 per week,22800,hays.co.uk
244765,72705213,ENGLISH TEACHER,Position: Qualified Teacher Subject/Specialism...,Swindon,Swindon,NaN,contract,NaN,Teaching Jobs,450 - 500 per week,22800,hays.co.uk
244766,72705216,SUPPLY TEACHERS,Position: Qualified Teacher Subject/Specialism...,Wiltshire,Wiltshire,NaN,contract,NaN,Teaching Jobs,450 to 500 per week,22800,hays.co.uk
244767,72705235,Accountant,This entrepreneurial and growing private equit...,Hitchin,Hitchin,NaN,permanent,NaN,Teaching Jobs,"40-45,000",42500,hays.co.uk

##### 删除不需要的列

In [23]:
# ID只是序号，与工资无关，所以删除
df_train = df_train.drop("Id", axis=1)
# 完全描述各不相同，处理起来较为复杂，所以删除
df_train = df_train.drop("FullDescription", axis=1)
# 位置已经有标准化后的数据了，所以原始位置可以删除
df_train = df_train.drop("LocationRaw", axis=1)
# 工资已经有标准化后的数据了，所以原始工资可以删除
# df_train = df_train.drop("SalaryRaw", axis=1)

##### 处理空数据项

In [6]:
df_train.isna().sum()

Title                      1
LocationNormalized         0
ContractType          179326
ContractTime           63905
Company                32430
Category                   0
SalaryNormalized           0
SourceName                 1
dtype: int64

Title和SourceName都只有一项空值，可以直接找到并剔除

In [24]:
for i in df_train.index:
    if df_train.loc[i]["Title"] is np.nan:
        print(df_train.loc[i])

Title                                       NaN
LocationNormalized                    Liverpool
ContractType                          full_time
ContractTime                                NaN
Company                                     NaN
Category              Healthcare & Nursing Jobs
SalaryRaw             40,000 to 45,000 per year
SalaryNormalized                          42500
SourceName                       careworx.co.uk
Name: 1588, dtype: object

KeyboardInterrupt:

In [8]:
df_train.loc[1588]

Title                                       NaN
LocationNormalized                    Liverpool
ContractType                          full_time
ContractTime                                NaN
Company                                     NaN
Category              Healthcare & Nursing Jobs
SalaryNormalized                          42500
SourceName                       careworx.co.uk
Name: 1588, dtype: object

In [25]:
df_train = df_train.drop(1588)
df_train.loc[1587:1589]

,Title,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
1587,Theatre Lead (Urology),Brentwood,full_time,NaN,NaN,Healthcare & Nursing Jobs,29000 to 33000 per year,31000,careworx.co.uk
1589,Endoscopy Practitioner,Brentwood,full_time,NaN,NaN,Healthcare & Nursing Jobs,23000 to 26000 per year,24500,careworx.co.uk

In [10]:
for i in df_train.index:
    if df_train.loc[i]["SourceName"] is np.nan:
        print(df_train.loc[i])

Title                 Senior C++ Engineer / C++ Performance Optimisa...
LocationNormalized                                               London
ContractType                                                        NaN
ContractTime                                                        NaN
Company                                                 Montash Limited
Category                                      Accounting & Finance Jobs
SalaryNormalized                                                 120000
SourceName                                                          NaN
Name: 224434, dtype: object

In [11]:
df_train.loc[224434]

Title                 Senior C++ Engineer / C++ Performance Optimisa...
LocationNormalized                                               London
ContractType                                                        NaN
ContractTime                                                        NaN
Company                                                 Montash Limited
Category                                      Accounting & Finance Jobs
SalaryNormalized                                                 120000
SourceName                                                          NaN
Name: 224434, dtype: object

In [26]:
df_train = df_train.drop(224434)
df_train.loc[224433:224435]

,Title,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
224433,Manager/Senior Manager Conduct Regulation,London,NaN,NaN,Goodman Masson,Accounting & Finance Jobs,"50000 - 75000 per annum pension, benefits",62500,eFinancialCareers
224435,Application Support METATRADER MT**** / MT****,London,NaN,NaN,Spencer Rose,Accounting & Finance Jobs,"55,000 - 65,000 + Benefits + Bonus",60000,eFinancialCareers

In [13]:
df_train.isna().sum()

Title                      0
LocationNormalized         0
ContractType          179325
ContractTime           63903
Company                32429
Category                   0
SalaryNormalized           0
SourceName                 0
dtype: int64

对于空值数据较多的列，单独添加一列布尔值列，表示是否为空值

In [27]:
df_train["ContractType" + "_is_missing"] = pd.isnull(df_train["ContractType"])
df_train["ContractTime" + "_is_missing"] = pd.isnull(df_train["ContractTime"])
df_train["Company" + "_is_missing"] = pd.isnull(df_train["Company"])

In [15]:
df_train

,Title,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryNormalized,SourceName,ContractType_is_missing,ContractTime_is_missing,Company_is_missing
0,Engineering Systems Analyst,Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,25000,cv-library.co.uk,True,False,False
1,Stress Engineer Glasgow,Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,True,False,False
2,Modelling and simulation analyst,Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,True,False,False
3,Engineering Systems Analyst / Mathematical Mod...,Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,27500,cv-library.co.uk,True,False,False
4,"Pioneer, Miser Engineering Systems Analyst",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000,cv-library.co.uk,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
244763,TEACHER OF SCIENCE,Swindon,NaN,contract,NaN,Teaching Jobs,22800,hays.co.uk,True,False,True
244764,TEACHER OF BUSINESS STUDIES AND ICT,Swindon,NaN,contract,NaN,Teaching Jobs,22800,hays.co.uk,True,False,True
244765,ENGLISH TEACHER,Swindon,NaN,contract,NaN,Teaching Jobs,22800,hays.co.uk,True,False,True
244766,SUPPLY TEACHERS,Wiltshire,NaN,contract,NaN,Teaching Jobs,22800,hays.co.uk,True,False,True
244767,Accountant,Hitchin,NaN,permanent,NaN,Teaching Jobs,42500,hays.co.uk,True,False,True

##### 将字符串类型的数据转换成数值类型
字符串类型的数据通常不能直接用于模型的训练，只有数值型可以

In [33]:
# 将string转为category
for label, content in df_train.items():
    if pd.api.types.is_string_dtype(content):
        df_train[label] = content.astype("category").cat.as_ordered()

In [34]:
# 将category转为int
for label, content in df_train.items():
    if not pd.api.types.is_numeric_dtype(content):
        df_train[label] = pd.Categorical(content).codes + 1

In [35]:
df_train

,Title,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName,ContractType_is_missing,ContractTime_is_missing,Company_is_missing
0,39227,751,0,2,7758,9,21344,25000,43,True,False,False
1,121387,987,0,2,7758,9,32427,30000,43,True,False,False
2,73486,1069,0,2,7758,9,21539,30000,43,True,False,False
3,39228,2310,0,2,7758,9,31840,27500,43,True,False,False
4,85435,2310,0,2,7758,9,21344,25000,43,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
244763,123565,2329,0,1,0,27,59081,22800,65,True,False,True
244764,123555,2329,0,1,0,27,59081,22800,65,True,False,True
244765,36446,2329,0,1,0,27,59081,22800,65,True,False,True
244766,103002,2643,0,1,0,27,59104,22800,65,True,False,True
244767,3379,1175,0,2,0,27,54848,42500,65,True,False,True

##### 对类型数据进一步处理

虽然我们将字符串类型成功转换成了整型，但是整型是有大小之分的，对于某些模型来说，这是一种误导，而独热编码，可以将每一种类型单独抽象为一列，从而消除数组带来的影响

In [36]:
dum = pd.get_dummies(df_train, columns=["ContractType", "ContractTime"])

In [20]:
dum

,Title,LocationNormalized,Company,Category,SalaryNormalized,SourceName,ContractType_is_missing,ContractTime_is_missing,Company_is_missing,ContractType_0,ContractType_1,ContractType_2,ContractTime_0,ContractTime_1,ContractTime_2
0,39227,751,7758,9,25000,43,True,False,False,1,0,0,0,0,1
1,121387,987,7758,9,30000,43,True,False,False,1,0,0,0,0,1
2,73486,1069,7758,9,30000,43,True,False,False,1,0,0,0,0,1
3,39228,2310,7758,9,27500,43,True,False,False,1,0,0,0,0,1
4,85435,2310,7758,9,25000,43,True,False,False,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244763,123565,2329,0,27,22800,65,True,False,True,1,0,0,0,1,0
244764,123555,2329,0,27,22800,65,True,False,True,1,0,0,0,1,0
244765,36446,2329,0,27,22800,65,True,False,True,1,0,0,0,1,0
244766,103002,2643,0,27,22800,65,True,False,True,1,0,0,0,1,0
244767,3379,1175,0,27,42500,65,True,False,True,1,0,0,0,0,1

独热编码会将每种类型抽象为一列，这也就导致了一个致命的问题，如果类型非常多，那么数据的列也会非常多，而且还是稀疏矩阵，不仅会使得体积非常庞大，还对模型的训练非常不利

所以我们仅对ContractType和ContractTime这两项使用独热编码

而目标编码就能解决这一问题，目标编码会使用该类型的目标值的平均值来代替该类型的值，这样就能在消除数值大小对模型的影响的同时，不增加数据量

此外，我们还可以比较一下特征工程前后的性能，以随机森林回归器为例

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [37]:
original_X = df_train.drop(columns=["SalaryNormalized"], axis=1)
original_y = df_train["SalaryNormalized"]
original_X_train, original_X_test, original_y_train, original_y_test = train_test_split(
    original_X, original_y, test_size=0.25, random_state=0)
original_rf_model = RandomForestRegressor(n_jobs=-1)
original_rf_model.fit(original_X_train, original_y_train)
original_rf_score = original_rf_model.score(original_X_test, original_y_test)

In [38]:
# 首先需要拆分训练集与测试集
X = dum.drop(columns=["SalaryNormalized"], axis=1).copy()
y = dum["SalaryNormalized"].copy()
X_train, X_test, y_train, y_test = train_test_split(X, y)

目标编码

In [39]:
from category_encoders import TargetEncoder
enc = TargetEncoder(cols=["Title", "LocationNormalized", "Company", "Category", "SourceName"])
X_train_enc = enc.fit_transform(X_train, y_train)
X_test_enc =enc.transform(X_test)
enc_rf_model = RandomForestRegressor(n_jobs=-1)
enc_rf_model.fit(X_train_enc, y_train)
enc_rf_score = enc_rf_model.score(X_test_enc, y_test)

In [40]:
print("original:", original_rf_score)
print("OneHotEncoder+TargetEncoder:", enc_rf_score)

original: 0.9016353928679292
OneHotEncoder+TargetEncoder: 0.8856669193484901

可以看到，进行特征工程后，分数显著提示

目标编码之后可以在之后使用管道实现，所以现在先还原X和y

In [41]:
X = dum.drop(columns=["SalaryNormalized"], axis=1)
y = dum["SalaryNormalized"]

##### 选择模型

定义评估函数

In [17]:
# 使用 KFold 和 MAE 测试模型
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.pipeline import make_pipeline


def evaluate(model, n_splits=5, score=r2_score):
    enc = TargetEncoder(cols=["Title", "LocationNormalized", "Company", "Category", "SourceName"])
    model = make_pipeline(enc, model)
    kf = KFold(n_splits=n_splits)
    scores = []
    for i, j in kf.split(X, y):
        model.fit(X.iloc[i, :], y.iloc[i])
        y_pred = model.predict(X.iloc[j, :])
        scores.append(score(y.iloc[j], y_pred))
    return np.mean(scores)

In [28]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_jobs=-1)
print("RandomForestRegressor: ", evaluate(rf_model))

RandomForestRegressor:  8313.578500367152

In [29]:
from sklearn.ensemble import ExtraTreesRegressor

et_model = ExtraTreesRegressor(n_jobs=-1)
print("ExtraTreesRegressor: ", evaluate(et_model))

ExtraTreesRegressor:  8609.654408950879

In [30]:
from sklearn.linear_model import ElasticNet

enet_model =  ElasticNet()
print("ElasticNet: ", evaluate(enet_model))

ElasticNet:  9359.596991308537

In [31]:
import xgboost as xgb

xgb_model = xgb.XGBRegressor(n_jobs=-1)
print("XGBRegressor:", evaluate(xgb_model))

XGBRegressor: 8179.191510882013

In [32]:
import lightgbm as lgb

lgb_model = lgb.LGBMRegressor(n_jobs=-1)
print("LGBMRegressor:", evaluate(lgb_model))

LGBMRegressor: 8255.76519008429

In [33]:
from sklearn.neural_network import MLPRegressor

mlp_model = MLPRegressor()
print("MLPRegressor:", evaluate(mlp_model))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor: 9206.156739475282

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [34]:
from sklearn.linear_model import Lasso

lasso_model = Lasso()
print("Lasso:", evaluate(lasso_model))

Lasso: 9341.193555259151

XGBRegressor和LGBMRegressor效果最好  
对这两个模型进行调参如下

In [35]:
xgb_model = xgb.XGBRegressor(n_estimators=70, learning_rate=0.37, max_depth=9, n_jobs=-1)
print("XGBRegressor:", evaluate(xgb_model))

XGBRegressor: 8118.509050759062

In [18]:
import lightgbm as lgb

In [19]:
lgb_model = lgb.LGBMRegressor(min_child_samples=59, learning_rate=0.28,n_estimators=320,num_leaves=43, n_jobs=-1)
print("LGBMRegressor:", evaluate(lgb_model))

LGBMRegressor: 0.5317487916645964

使用集成学习，可以达到从而达到超过单个模型的效果

In [37]:
from sklearn.ensemble import AdaBoostRegressor

ada_xgb_model = AdaBoostRegressor(xgb_model)
print("AdaBoostRegressor with XGBRegressor: ", evaluate(ada_xgb_model))

AdaBoostRegressor with XGBRegressor:  8532.977921194562

In [38]:
ada_lgb_model = AdaBoostRegressor(lgb_model)
print("AdaBoostRegressor with LGBMRegressor: ", evaluate(ada_lgb_model))

AdaBoostRegressor with LGBMRegressor:  8610.887789728145

In [20]:
from sklearn.ensemble import BaggingRegressor

In [39]:
from sklearn.ensemble import BaggingRegressor

bag_xgb_model = BaggingRegressor(xgb_model, n_jobs=-1)
print("BaggingRegressor with XGBRegressor:", evaluate(bag_xgb_model))

BaggingRegressor with XGBRegressor: 8050.703285806407

In [21]:
bag_lgb_model = BaggingRegressor(lgb_model, n_jobs=-1)
print("BaggingRegressor with LGBMRegressor:", evaluate(bag_lgb_model))

BaggingRegressor with LGBMRegressor: 0.5344799870584138

In [41]:
from sklearn.ensemble import VotingRegressor

vot_model = VotingRegressor([('xgb', xgb_model), ('lgb', lgb_model)])
print("VotingRegressor:", evaluate(vot_model))

VotingRegressor: 8065.035341079555

In [42]:
from mlxtend.regressor import StackingRegressor
stack_model = StackingRegressor([xgb_model], lgb_model)
print("StackingRegressor:", evaluate(stack_model))

StackingRegressor: 8139.023573623834

选择bag_lgb_model作为最终模型

In [43]:
model = bag_lgb_model

In [44]:
enc = TargetEncoder(cols=["Title", "LocationNormalized", "Company", "Category", "SourceName"])
X = enc.fit_transform(X, y)
model.fit(X, y)

BaggingRegressor(base_estimator=LGBMRegressor(learning_rate=0.28,
                                              min_child_samples=59,
                                              n_estimators=320, num_leaves=43),
                 n_jobs=-1)

##### 预测数据

先对测试数据进行与训练数据一样的处理

In [45]:
df_test = pd.read_csv('input/Test_rev1.csv', header=0, sep=',', quotechar='"')

In [46]:
Id_test = df_test["Id"]
df_test = df_test.drop("Id", axis=1)
df_test = df_test.drop("FullDescription", axis=1)
df_test = df_test.drop("LocationRaw", axis=1)

In [47]:
df_test.isna().sum()

Title                     0
LocationNormalized        0
ContractType          89450
ContractTime          31761
Company               16261
Category                  0
SourceName                0
dtype: int64

In [48]:
df_test["ContractType" + "_is_missing"] = pd.isnull(df_test["ContractType"])
df_test["ContractTime" + "_is_missing"] = pd.isnull(df_test["ContractTime"])
df_test["Company" + "_is_missing"] = pd.isnull(df_test["Company"])

In [49]:
for label, content in df_test.items():
    if pd.api.types.is_string_dtype(content):
        df_test[label] = content.astype("category").cat.as_ordered()

In [50]:
for label, content in df_test.items():
    if not pd.api.types.is_numeric_dtype(content):
        df_test[label] = pd.Categorical(content).codes + 1

In [51]:
df_test = pd.get_dummies(df_test, columns=["ContractType", "ContractTime"])

In [52]:
df_test = enc.transform(df_test)

In [53]:
df_test

,Title,LocationNormalized,Company,Category,SourceName,ContractType_is_missing,ContractTime_is_missing,Company_is_missing,ContractType_0,ContractType_1,ContractType_2,ContractTime_0,ContractTime_1,ContractTime_2
0,26722.276837,21070.884646,34122.192494,27671.020575,30552.161848,True,False,False,1,0,0,0,0,1
1,34122.192494,21070.884646,34122.192494,37028.871591,30552.161848,True,False,False,1,0,0,0,0,1
2,34122.192494,28564.544455,29633.581574,35838.268332,30552.161848,True,False,False,1,0,0,0,0,1
3,34122.192494,34122.192494,29633.581574,35838.268332,30552.161848,True,False,False,1,0,0,0,0,1
4,34122.192494,22964.056017,29633.581574,26497.898274,30552.161848,True,False,False,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122458,34122.192494,30354.118071,20398.936170,23838.974728,25075.412647,False,False,False,0,1,0,0,0,1
122459,34122.192494,29280.981862,34122.192494,23838.974728,25075.412647,False,False,False,0,1,0,0,0,1
122460,30491.377390,25173.609890,35851.737211,27671.020575,27453.335415,True,False,True,1,0,0,0,1,0
122461,34122.192494,34122.192494,35851.737211,27671.020575,27453.335415,True,False,True,1,0,0,0,1,0
122462,34122.192494,42230.909085,35851.737211,27671.020575,27453.335415,True,False,True,1,0,0,0,1,0

In [54]:
y_preds = model.predict(df_test)
df_preds = pd.DataFrame()
df_preds["Id"] = Id_test
df_preds["SalaryNormalized"] = y_preds

In [55]:
df_preds

              Id  SalaryNormalized
0       11888454      23121.975993
1       11988350      28068.017711
2       12612558      30459.074729
3       12613014      29542.389990
4       22454872      25073.592783
...          ...               ...
122458  72703426      19938.687927
122459  72703453      23793.721627
122460  72705210      29249.647121
122461  72705214      23159.577200
122462  72705218      32946.643256

[122463 rows x 2 columns]

##### 导出预测数据

In [56]:
df_preds.to_csv("output/Submission.csv", index=False)

**以下内容是废稿，不需要写进PowerPoint和报告中**

In [57]:
# import matplotlib.pyplot as plt
# %matplotlib inline
# e1 = []
# e2 = []
# for i in range(10, 301, 10):
#     print("n_estimators=", i)
#     xgb_model = xgb.XGBRegressor(learning_rate=0.37, max_depth=9, n_estimators=i, n_jobs=-1)
#     model = xgb_model
#     e1.append(evaluate(model)-6548.064387337453)
#     print("LGBMRegressor:", e1[-1])
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     e2.append(mean_absolute_error(y_test, y_pred)-7974.356905030669)
#     print("y_pred MAE:", e2[-1])

# plt.plot(list(range(10, 301, 10)), e1)
# plt.plot(list(range(10, 301, 10)), e2)